{% extends "base.html" %}

{% block title %}{{ card.meta.title }}{% endblock %}

{% block left_menu %}
    <a href="{{ url_for('index') }}" class="back-link">← Назад к списку препаратов</a>
{% endblock %}

{% block content %}
    <div class="card-detail">
        <!-- Заголовок -->
        {% with meta=card.meta %}
            {% include 'components/header.html' %}
        {% endwith %}

        <!-- Мета-информация -->
        {% with meta=card.meta %}
            {% include 'components/meta.html' %}
        {% endwith %}

        <!-- Ключевая характеристика -->
        {% with meta=card.meta %}
            {% include 'components/key_characteristic.html' %}
        {% endwith %}

        <!-- Описание -->
        {% with meta=card.meta %}
            {% include 'components/description.html' %}
        {% endwith %}

        <!-- Типичные особенности -->
        {% with meta=card.meta %}
            {% include 'components/typical_features.html' %}
        {% endwith %}

        <!-- Клинические показания -->
        {% with meta=card.meta %}
            {% include 'components/clinical_indications.html' %}
        {% endwith %}

        <!-- Этиология -->
        {% with meta=card.meta %}
            {% include 'components/etiology.html' %}
        {% endwith %}

        <!-- Описание миазмов препарата-->
        {% with meta=card.meta %}
            {% include 'components/remedy_miasms.html' %}
        {% endwith %}

        <!-- Физические симптомы по системам -->
        {% with meta=card.meta %}
            {% include 'components/symptoms_by_system.html' %}
        {% endwith %}

        <!-- Симптомы -->
        {% with meta=card.meta %}
            {% include 'components/symptoms.html' %}
        {% endwith %}

        <!-- Сферы применения -->
        {% with meta=card.meta %}
            {% include 'components/application.html' %}
        {% endwith %}

        <!-- Модальности -->
        {% with meta=card.meta %}
            {% include 'components/modalities.html' %}
        {% endwith %}

        <!-- Ключи -->
        {% with meta=card.meta %}
            {% include 'components/keywords.html' %}
        {% endwith %}

        <!-- Блок с картинками -->
        {% with meta=card.meta %}
            {% include 'components/images_block.html' %}
        {% endwith %}

        <!-- Характеристика -->
        {% with meta=card.meta %}
            {% include 'components/characteristic.html' %}
        {% endwith %}

        <!-- Дифференциальная диагностика -->
        {% with meta=card.meta %}
            {% include 'components/differential_diagnosis.html' %}
        {% endwith %}

        <!-- Антидоты -->
        {% with meta=card.meta %}
            {% include 'components/antidotes.html' %}
        {% endwith %}

        <!-- Тип личности -->
        {% with meta=card.meta %}
            {% include 'components/personality.html' %}
        {% endwith %}

        <!-- Культурные архетипы -->
        {% with meta=card.meta %}
            {% include 'components/сultural_аrchetypes.html' %}
        {% endwith %}

        <!-- Дополнительная информация -->
        {% with meta=card.meta %}
            {% include 'components/custom_blocks.html' %}
        {% endwith %}

        <!-- Источники -->
        {% with meta=card.meta %}
            {% include 'components/sources.html' %}
        {% endwith %}

        <div class="card-html-content">
            {{ card.html|safe }}
        </div>
    </div>
{% endblock %}
